$color--dark-shade: #262839;
$color--dark-shade-lighter:  #50546D;
$color--light-shades: #F5F5F5;;
$color--light-shades-darker:#DEE0DF;
$color--light-shades-lighter: #535265;
$color--main-brand: #D97B69;
$color--light-accent:#7EBA59;
$color--light-accent-ligher:#99c87c;
$color--dark-accent:#AA3F52;
